.services{

    &--home{

        --flex-d: row;
        --flex-d-odd: row-reverse;
        --box-width: 50%;
        @media (max-width: $screen-sm) {
            --flex-d: column-reverse;
            --flex-d-odd: column-reverse;
            --box-width: 100%;
        }
       

        .item{
            display: flex;
            flex-direction: var(--flex-d);
            &:nth-child(odd){
                flex-direction: var(--flex-d-odd);
                background-color: $light-gray-dark;
            }

            .content{
                width: var(--box-width);
                padding: 10vw;
            }

            .image{
                width: var(--box-width);
                object-fit: cover;
            }

        }
    }
}