
{% extends "layouts/base.njk" %}

{% block postContent %}

<main>
    <div class="banner">
    
    {% if image %}
    <img class="default image" loading="lazy"
        sizes="(max-width: 1400px) 100vw, 1400px"
        srcset="
        https://res.cloudinary.com/fmeyer1980/image/upload/c_scale,f_auto,q_70,w_375/v1569695586/indexed/{{ image }} 375w,
        https://res.cloudinary.com/fmeyer1980/image/upload/c_scale,f_auto,q_70,w_768/v1569695586/indexed/{{ image }} 768w,
        https://res.cloudinary.com/fmeyer1980/image/upload/c_scale,f_auto,q_70,w_992/v1569695586/indexed/{{ image }} 992w,
        https://res.cloudinary.com/fmeyer1980/image/upload/c_scale,f_auto,q_70,w_1280/v1569695586/indexed/{{ image }} 1280w,
        https://res.cloudinary.com/fmeyer1980/image/upload/c_scale,f_auto,q_70,w_1400/v1569695586/indexed/{{ image }} 1400w"
        src="https://res.cloudinary.com/fmeyer1980/image/upload/c_scale,f_auto,q_70,w_1400/v1569695586/indexed/{{ image }}"
    alt="{{ title }}">
    {% else %}
    <p>Ingen billede</p>
    {% endif %}
    </div>
    
    <div class="container">
        <h1>{{ title }}s</h1>
        <div>{{ content | safe }}</div>
    </div>
    {# {% include "components/cases.njk" %} #}
</main>


{% endblock postContent %}