
{% extends "layouts/base.njk" %}

{% block postContent %}

<main class="cases">
    <div class="banner" style="background-color: {{ bg_color }};">
        <picture>
            <source srcset="https://res.cloudinary.com/fmeyer1980/image/upload/c_thumb,f_auto,q_70,h_300,w_480/v1569695586/indexed/{{ image }}" media="(max-width: 480px)">
            <source srcset="https://res.cloudinary.com/fmeyer1980/image/upload/c_thumb,f_auto,q_70,h_400,w_768/v1569695586/indexed/{{ image }}" media="(max-width: 768px)">
            <source srcset="https://res.cloudinary.com/fmeyer1980/image/upload/c_thumb,f_auto,q_70,h_500,w_1400/v1569695586/indexed/{{ image }}" media="(max-width: 1200px)">
            <img class="image" src="https://res.cloudinary.com/fmeyer1980/image/upload/c_thumb,f_auto,q_70,h_500,w_1400/v1569695586/indexed/{{ image }}" alt="{{ title }}">
        </picture>
        <div class="content">
            <h1>{{ title }}</h1>
        </div>
    </div>
    
    <div class="container">
        
        <div>{{ content | safe }}</div>
    </div>
    {# {% include "components/cases.njk" %} #}
</main>


{% endblock postContent %}