{% set body_class = title %}
{% extends "layouts/base.njk" %}

{% block postContent %}

    {% include "components/hero.njk" %}
    {% include "components/about.njk" %}
    {% include "components/services.njk" %}
    {% include "components/cases.njk" %}
    
{% endblock postContent %}