<section class="about--home">
    <div class="container container--small">
        <div class="heading">
            18 års
            <span>erfaring</span>
        </div>
        <p class="text">{{ about.text | safe }}</p>
    </div>
</section>