<section class="about--home">
    <div class="container container--small">
        <div>
            18 års
            <span>erfaring</span>
        </div>
        <p>Med en bred og årelang erfaring indenfor webbranchen er vi et solidt match når du søger efter et webbureau til at håndtere dine programmerings opgaver. Vi er et webbureau med fokus på kvalitet og kundens løsninger. Vores tekniske kunnen matcher vores evne til at levere.</p>
    </div>
</section>