<footer class="footer">
    <div class="contact">
        <ul>
            <li><a href=""><span class="icon-commenting-o"></span>Messenger</a></li>
            <li><a href=""><span class="icon-phone"></span>Call</a></li>
            <li><a href=""><span class="icon-envelope-o"></span>Email</a></li>
        </ul>
        <img class="payment" src="/assets/images/payment.png" alt="">
        <img class="payment-icons" src="/assets/images/payment-icons.png" alt="">
        <span class="copyright">© 2019 elliott footwear</span>
    </div>
    <div class="newsletter">
        <span class="heading">Subscribe</span>
        <p>Sign up to recieve news about elliott footwear collection and sales</p>
        <form action="">
            <!-- <input type="text" placeholder="Your name:">
            <input type="email" placeholder="Your email:"> -->
            <input type="submit" value="Sign up">
        </form>
    </div>
    <div class="help">
        <span class="heading">help</span>
        <ul class="links">
            <li><a href="">Shipping info</a></li>
            <li><a href="">Client service</a></li>
            <li><a href="">Returns & refunds</a></li>
            <li><a href="">Log in / Register</a></li>
            <li><a href="">FAQs</a></li>
            <li><a href="">Size guide</a></li>
        </ul>
    </div>
    <div class="company">
        <span class="heading">Comapny</span>
        <ul class="links">
            <li><a href="">About</a></li>
            <li><a href="">Press</a></li>
            <li><a href="">Sustainability report</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Legal area</a></li>
        </ul>
        <span class="heading">Social</span>
        <ul class="socialmedia">
            <li><a class="icon-facebook-f" href=""></a></li>
            <li><a class="icon-twitter" href=""></a></li>
            <li><a class="icon-pinterest-p" href=""></a></li>
        </ul>
        <img class="co2" src="/assets/images/co2-icon.svg" alt="">
    </div>
</footer>