<header class="header">
    <div class="container container--small">
      <div class="logo">
        <a  href="/" aria-label="Gå til forsiden">{% include "components/logo.njk" %}</a>
      </div>
      <nav>
        {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({
            listElement: "ul",
            listItemElement: "li",
            listClass: "main-nav__menu",
            listItemClass: "item",
            listItemHasChildrenClass: "has-children",
            activeListItemClass: "active",
            activeKey: eleventyNavigation.key
        }) | safe }}
      </nav>
    </div>
</header>
