<section class="home-hero">
    <div class="container container--right">
        <div class="home-hero__content">
                {% include "components/logo-icon.njk" %}
            <h1 class="heading">
                
                <div><span>D</span>igitale</div>
                <div>løsninger der skaber resultater</div>
            </h1>
            <p class="text">Webbureau Indexed hjælper med digitialisering af din virksomhed. <strong>Opdater eller byg ny hjemmeside eller webapp</strong> som kan automatisere dine processer.</p>
        </div>
    </div>
    <svg class="home-hero__icon-bg" width="344px" height="515px" viewBox="0 0 344 515" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <linearGradient x1="50%" y1="23.2171997%" x2="50%" y2="76.350869%" id="linearGradient-1">
                <stop class="tt" offset="0%"></stop>
                <stop class="tt" stop-opacity="0" offset="100%"></stop>
            </linearGradient>
            <linearGradient x1="50%" y1="23.2171997%" x2="50%" y2="76.350869%" id="linearGradient-2">
                <stop class="tt" offset="0%"></stop>
                <stop class="tt" stop-opacity="0" offset="100%"></stop>
            </linearGradient>
            <path d="M162,519.681564 L162,172.26003 C162,156.383951 151.941176,86 81.5294118,86 L0,86 L0,607 L77.5588235,607 C127.058824,607 162,565.192991 162,519.681564 Z" id="Path" fill="url(#linearGradient-1)"></path>
            <path d="M85,0 C158.010288,0 215.032922,31.7493226 243.8107,89.4272587 C264.861111,132.024267 265.926955,169.858876 265.926955,173.827541 L265.926955,531.218728 C265.926955,591.938665 239.984453,641.648642 192.363245,672.985771 C188.282037,675.67141 238.827622,675.67141 344,672.985771 L344,0 L85,0 Z" id="Path" fill="url(#linearGradient-2)"></path>
    </svg>
</section>