<div class="home-fokus">
 <div loading="lazy" class="home-fokus__video">
        <video muted="muted" autoplay loop="loop" playsinline="" preload="auto" class="video">
            {# <source src="https://res.cloudinary.com/fmeyer1980/video/upload/f_auto,q_auto/v1572177608/indexed/test-video_ea2zvq.webm" type="video/webm">
            <source src="https://res.cloudinary.com/fmeyer1980/video/upload/f_auto,q_auto/v1572177608/indexed/test-video_ea2zvq.mp4" type="video/mp4">
            <source src="https://res.cloudinary.com/fmeyer1980/video/upload/f_auto,q_auto/v1572177608/indexed/test-video_ea2zvq.ogv" type="video/ogv"> #}
            <source src="/assets/images/video.mp4" type="video/mp4">
        </video>
    </div>
    <div class="container">
        <div class="item first">
            <span class="h3 heading">Vi har fokus på</span>
            <p>With over ten years of working in these industries, we have accomplished some outstanding work.</p>
        </div>
        <div class="item">
            <span class="icon-logo-icon"></span>
            <h3 class="h4 heading">Kvalitet</h3>
            <p>Giver højere værdi og udbytte</p>
        </div>
         <div class="item">
            <span class="icon-logo-icon"></span>
            <h3 class="h4 heading">Flexibilitet</h3>
            <p>På løsninger tilpasset din forretning</p>
        </div>
         <div class="item">
            <span class="icon-logo-icon"></span>
            <h3 class="h4 heading">Stort & småt</h3>
            <p>På løsninger tilpasset din forretning</p>
        </div>
    </div>
</div>