<section class="pre-footer">
    <div class="col-1">
        <img src="/assets/images/pre-footer-img.jpg" alt="">
    </div>
    <div class="col-2">
        <p>SHIPPING IMPACT IS<br/>NEUTRALISED BY<br/>OFFSETTING CO2</p>
        <p class="text--large">#CARBONTAX</p>
    </div>
    <div class="col-3">
        <div class="recycle-wrapper">
            <img src="/assets/images/recycle-icon-big.svg" alt="">
            <span>Recover and Re-use</span>
        </div>
    </div>
</section>