$primary: #F84525;
$primary-dark: #E63D1F;
$primary-light: #EF4223;

$secondary: #F7B432;
$tertiary: #243F4E;

$white: #fff;
$light-gray-light: #F9F4F1;
$light-gray-dark: #EEEFEE;
$medium-gray-light: #999;
$medium-gray-dark: #4F4237;
$dark-gray-light: #3C2C1F;
$dark-gray-dark: #1C1C1C;
$black: #000;

$text-color: #212121;

:root {
--primary: #F84525;
--primary-dark: #E63D1F;
--primary-light: #EF4223;
}